langgraph
langchain
typing 
pydantic
dotenv
groq
langchain_groq
streamlit
fastapi 
uvicorn 
python-multipart
langgraph-checkpoint-mongodb
motor
langchain_huggingface 
langchain_community
langchain_text_splitters
pypdf
sentence-transformers
faiss-cpu