/* styles/global.css */
:root {
  --gold: #C2902D;
  --white: #FFFFFF;
  --black: #0B0B0B;
  --dark-grey: #1A1A1A;
  --mid-grey: #2A2A2A;
  --light-grey: #B0B0B0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: var(--black);
  color: var(--white);
}